/* start variable */
:root {
  --main-color: #10cab7;
  --secondry-color: #004f48;
}
/* end variable */
/* start globale rulse */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* mediam screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end globale rulse */
/* Start components  */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -5px;
  text-align: center;
  margin: 0;
}
.special-heading + p {
  text-align: center;
  margin: -30px 0 0;
  color: #797979;
  font-size: 20px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
    font-size: 20px;
  }
}
/* End components  */
/* Start header  */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 80px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: var(--secondry-color);
  margin-bottom: 5px;
  height: 2px;
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 55%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  border-width: 16px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 2px;
  top: -30px;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  transition: 0.3s;
  color: var(--main-color);
}
.header .links ul li a:hover {
  padding-left: 30px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: var(--secondry-color) 2px solid;
}

/* End header  */
/* Start Landing */
.landing {
  background-image: url(../image/landing.jpg);
  background-size: cover;
  height: calc(100vh - 52px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 320px;
  max-width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.9;
}
/* End Landing */
/* Start Features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.6;
  color: #777;
  font-weight: 300;
}
/* End Features */
/* Start services   */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .services-contant {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-top: 80px;
}
.services .services-contant .serv {
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .services .services-contant .serv {
    text-align: center;
    flex-direction: column;
  }
}
.services .services-contant .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-contant .serv .text {
  flex: 1;
}
.services .services-contant .serv h3 {
  margin: -10px 0 20px;
}
.services .services-contant .serv p {
  line-height: 1.6;
  color: #777;
  font-weight: 300;
}
.services .services-contant .image {
  text-align: center;
  position: relative;
}
.services .services-contant .image::before {
  content: "";
  width: 80px;
  height: calc(100% + 60px);
  position: absolute;
  top: -30px;
  right: 0;
  background-color: var(--secondry-color);
  z-index: -1;
}
.services .services-contant .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* End services   */
/* Start portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
@media (max-width: 767px) {
  .portfolio .portfolio-content .card .info {
    text-align: center;
  }
}
.portfolio .portfolio-content .card .info h3 {
  font-weight: 500;
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  line-height: 1.6;
  color: #777;
  font-weight: 300;
  margin-bottom: 0;
}
/* End portfolio */
/* Start about */
.about {
  padding-top: 60px;
  padding-bottom: 120px;
}
.about .about-content {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about .about-content .image {
    margin: 0 auto 60px;
  }
  .about .about-content .image::before {
    display: none;
  }
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .image::before {
  content: "";
  width: 150px;
  height: calc(100% + 100px);
  position: absolute;
  background-color: #ebeced;
  z-index: -1;
  top: -50px;
  left: -20px;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 270px;
  border-bottom: 80px solid var(--main-color);
  border-left: 80px solid var(--main-color);
  z-index: -1;
  right: -180px;
  top: -20px;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  padding-bottom: 30px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* End about */
/* Start Contact */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.contact .contact-content {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .contact-content .label {
  font-size: 30px;
  color: var(--secondry-color);
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .contact-content .link {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
}
.contact .contact-content .social {
  display: flex;
  justify-content: center;
  font-size: 17px;
}
.contact .contact-content .social i {
  margin-left: 15px;
  color: var(--secondry-color);
}
@media (max-width: 767px) {
  .contact .contact-content .label,
  .contact .contact-content .link {
    font-size: 25px;
  }
  .contact .contact-content .social {
    font-size: 13px;
  }
}
/* End Contact */
/* Start Footer */
footer {
  text-align: center;
  background-color: var(--secondry-color);
  color: white;
  font-size: 20px;
  padding: 25px 0px;
  font-weight: bold;
}
footer span{
color: var(--main-color);
}
/* End Footer */
